<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.apps.smartgreenhouse">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.SmartGreenHouse">
        <activity android:name=".DiseaseGuide"></activity>
        <activity
            android:name=".ControlPanel"
            tools:ignore="Instantiatable" />
        <activity android:name=".DrawerActivity" />
        <activity
            android:name=".SetupActivity"
            tools:ignore="Instantiatable" />
        <activity android:name=".ImageClassificationActivity" />
        <activity
            android:name=".MainActivity"
            tools:ignore="Instantiatable" />
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name="org.eclipse.paho.android.service.MqttService" />
    </application>

</manifest>